@tailwind base;

@tailwind components;

@tailwind utilities;




.splash-gradient {
    background: linear-gradient(0deg, #8C8AC6, #8C8AC6);
}


.details-gradient {
    background: linear-gradient(300.23deg, #514EA1 19.24%, #9795D0 73.2%);
}

.login-button-gradient {
    background: linear-gradient(0deg, #7F7DBC, #7F7DBC);
}

.registration-button-gradient{
    background: linear-gradient(90deg, #C84B97 -13.36%, #C84B97 38.59%), #D49CE8;
}

.slider-item-img {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    min-width:320px; 
    max-width:320px; 
    max-height:320px;
}